# -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>TEST下厨房</title>
    <meta property="wb:webmaster" content="00714c085a1ea3a4" />
    <link rel="icon" href="favicon.ico">


    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    function revoke_auth(auth_name)
    {
        //用户只绑定了一个三方账号, 这个时候取消绑定要给出提示
        if ($('#bind_cnt').val() == "1")
        {
            var ans = confirm('这是您绑定的最后一个第三方账号, 取消后本账号将被注销, 无法再使用, 您确定要继续吗?');
            if (ans == false)
                return false;
        }
        $.post("authorize", {auth_from: auth_name}
        ).done(function(){
            alert("取消成功");
            $.get("exit");
            self.location = 'http://nwmlwb.iask.in/';}
        ).fail(function(){alert("取消绑定失败, 请重试")});
        return true;
    }
    </script>
  </head>

  <body>

    <div class="container">
    <div class="row">
    <p>
        ${profile_welcome.decode('utf-8')}
    </p>
    <p>
        欢迎 ${profile_username.decode('utf-8')}, 您的用户ID为: ${profile_id}
    </p>
    <p>
        <a href="modify">修改我的信息</a>
    </p>
    <p>
    <input type="hidden" id="bind_cnt" value="${len(auth_already)}"/>
    <h3>已绑定</h3>
    % for auth_info in auth_list:
        <div class="row">
        <div class="col-md-4">
        <label>${auth_info['oauth_from']}</label>
        </div>

        <div class="col-md-4">
        <span>过期时间: </span>
        </div>

        <div class="col-md-4">
        <a href="javascript:revoke_auth('${auth_info['oauth_from']}')">取消绑定</a>
        </div>
        </div>
    % endfor
    </p>

    <p>
    <h3>未绑定</h3>
    % for no_auth_info in no_auth_list:
    <div class="row">
        <div class="col-md-4">
        <label>${no_auth_info['auth_name']}</label>
        </div>
        <div class="col-md-4">
        <a href="${no_auth_info['auth_url']}">点击绑定${no_auth_info['auth_name']}</a>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    % endfor
    </p>

    <p>
        <a href="exit">退出登录</a>
    </p>
    </div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
